doctype html
html(lang="en", dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/bootstrap3.css")
    link(rel="stylesheet", href="css/all.min.css")
    link(rel="stylesheet", href="css/uikit.min.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="css/slick.css")
    link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300;1,400&display=swap")
    link(rel="stylesheet", href="css/main.css")

    title Cascade
  body
    //- Start Header
    
    .header
      .menue.hidden
        i.fas.fa-times.fa-2x
        ul
          a #[li Home]
          a(href="generic.html") #[li.border Generic]
          a #[li Elements]
        button Sign Up
        button Log In
      .overlay
        .navbar
          p cascade by pixelarity
          span menu #[i.fas.fa-bars]
        .content
          h1 lorem #[br] ipsum dolor #[br] sit amet
          p Dolor sit amet nullam pede semper est, vitae luctus metus libero eu augue. Morbi purus sed libero, faucibus adipiscing, commodo.
          button get started
    //- End Header


    section.one.special
      .cu-flex
        .img.show-sm
          img(src="imges/pic01.jpg", alt="")
        .left
          h3.wow.slideInUp(data-wow-duration="2s" data-wow-offset="100") #[span integis] #[span vitae unon] #[span libetue]
        .right 
          .img.hide-sm
            img(src="imges/pic01.jpg", alt="")
          .text.special-box
            h2 Morbi purus sed libero #[br] faucibus adipiscing
            p Sed egestas, ante et vulputate lorem ipsum dolor sit amet nullam pede semper est, vitae luctus metus libero eu augue. Morbi purus sed libero, faucibus adipiscing, gravida lorem ipsum.
            button learn more

    section.two.special
      .cu-flex
        .img.show-sm
          img(src="imges/pic02.jpg", alt="")
        .left
          .img.hide-sm
            img(src="imges/pic02.jpg", alt="")
          .text.special-box
            h2 Morbi purus sed libero #[br] faucibus adipiscing
            p Sed egestas, ante et vulputate lorem ipsum dolor sit amet nullam pede semper est, vitae luctus metus libero eu augue. Morbi purus sed libero, faucibus adipiscing, gravida lorem ipsum.
            button learn more
        .right
          h3.wow.slideInUp(data-wow-duration="2s" data-wow-offset="100") #[span integis] #[span vitae unon] #[span libetue]

    section.three.special
      .cu-flex
        .img.show-sm
          img(src="imges/pic03.jpg", alt="")
        .left
          h3.wow.slideInUp(data-wow-duration="2s" data-wow-offset="100") #[span ante sed]   #[span commodo] #[span libero]
        .right
          .img.hide-sm
            img(src="imges/pic03.jpg", alt="")
          .text.special-box
            h2 Libero sed magna et #[br] amet commodo
            p Sed egestas, ante et vulputate lorem ipsum dolor sit amet nullam pede semper est, vitae luctus metus libero eu augue. Morbi purus sed libero, faucibus adipiscing, gravida lorem ipsum.
            button learn more

    section.slider.hidden-xs.visible-md.visible-lg
      h2 sed adipiscing
      .container
        .content
          .one-time
            div 
              .magna
                img(src="imges/pic04.jpg", alt="")
              .uk-card-body
                .caption
                  h3.special Magna libero faucibus adipiscing
                  p Sed egestas, ante et vulputate lorem ipsum dolor sit amet nullam pede semper est, vitae luctus metus libero eu augue. Morbi purus sed libero, faucibus adipiscing, commodo quis, gravida lorem ipsum.
                  button learn more
            div 
              .magna
                img(src="imges/pic05.jpg", alt="")
              .uk-card-body
                .caption
                  h3.special Aliquam feugiat sed malesuada
                  p Sed egestas, ante et vulputate lorem ipsum dolor sit amet nullam pede semper est, vitae luctus metus libero eu augue. Morbi purus sed libero, faucibus adipiscing, commodo quis, gravida lorem ipsum.
                  button learn more
            div 
              .magna
                img(src="imges/pic06.jpg", alt="")
              .uk-card-body
                .caption
                  h3.special Feugiat lorem ipsum dolor amet
                  p Sed egestas, ante et vulputate lorem ipsum dolor sit amet nullam pede semper est, vitae luctus metus libero eu augue. Morbi purus sed libero, faucibus adipiscing, commodo quis, gravida lorem ipsum.
                  button learn more

    section.all.hidden-sm
      section.phone
          .container
            .section-box
              img(src="imges/pic04.jpg", alt="")
              .shadow
                h3.h2 Sed faucibus
                p Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.
                button learn more
      section.phone
          .container
            .section-box
              img(src="imges/pic05.jpg", alt="")
              .shadow
                h3.h2 Sed faucibus
                p Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.
                button learn more
      section.phone
          .container
            .section-box
              img(src="imges/pic06.jpg", alt="")
              .shadow
                h3.h2 Sed faucibus
                p Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.
                button learn more



    section.libro
      h2 ante libro
      .row
        .container
          .section-box.col-md-6
            img(src="imges/pic07.jpg", alt="")
            .shadow
              h3.h2 Sed faucibus
              p Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.
              button learn more
          .section-box.col-md-6
            img(src="imges/pic08.jpg", alt="")
            .shadow
              h3.h2 Morbi commodo
              p Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.
              button learn more
          .section-box.col-md-6
            img(src="imges/pic09.jpg", alt="")
            .shadow
              h3.h2 Tempus lorem
              p Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.
              button learn more
          .section-box.col-md-6
            img(src="imges/pic10.jpg", alt="")
            .shadow
              h3.h2 Libero adipiscing
              p Sed egestas, ante et vulputate lorem ipsum sed dolor sit amet Morbi purus sed libero, faucibus adipiscing, commodo quis. Lorem ipsum dolor sit amet nullam sed adipiscing.
              button learn more


    section.subscribe.text-center
      .container.wow.fadeInUp(data-wow-duration='1s' data-wow-offset='300')
        h2.h1 tempus amet
        p Sed egestas, ante et vulputate lorem ipsum dolor sit amet nullam pede semper est, vitae luctus metus libero eu augue. Morbi purus sed libero, faucibus adipiscing, commodo quis, gravida lorem ipsum.
        form.form-inline
          input.form-control.input-lg(type='text' placeholder='Your Email Address')
          button Subscribe


    footer
      .container
        ul
          li
            span.icon
              i.fas.fa-map-marker-alt  
            p 1234 Fictional Street #5432 Nashville, TN 00000-0000
          li
            span.icon
              i.fas.fa-phone
            p (000) 000-0000
          li
            span.icon
              i.fas.fa-envelope
            p info@untitled.tld
        span.copy &copy;  Untitled. All rights reserved.
        



    .loading
      .sk-circle
        .sk-circle1.sk-child
        .sk-circle2.sk-child
        .sk-circle3.sk-child
        .sk-circle4.sk-child
        .sk-circle5.sk-child
        .sk-circle6.sk-child
        .sk-circle7.sk-child
        .sk-circle8.sk-child
        .sk-circle9.sk-child
        .sk-circle10.sk-child
        .sk-circle11.sk-child
        .sk-circle12.sk-child


    #scroll-top
      i.fa.fa-chevron-up.fa-2x




    script(src="JS/jquery-3.4.1.min.js")
    script(src="JS/bootstrap3.min.js")
    //- script(src="JS/jquery.nicescroll.min.js")
    script(src="JS/wow.min.js")
    script(src="JS/uikit.min.js")
    script(src="JS/uikit-icons.min.js")
    script(src="JS/html5shiv.min.js")
    script(src="JS/respond.min.js")
    script(src="JS/slick.min.js")
    script new WOW().init();
    script(src="JS/main.js")


